.checkout_page {
	h3 {
		font-weight: 500;
	}

	.container {
		padding-block: 40px;
		display: flex;
		justify-content: space-between;
	}

	.form {
		display: flex;
		flex-direction: column;
		width: 250px;
		gap: 20px;

		.form_field {
			display: flex;
			flex-direction: column;
			gap: 2px;

			input {
				padding: 4px;
				font-size: 14px;
				letter-spacing: 1px;

				outline: none;
				border: 0;
				border-bottom: 1px solid #4b4b4b;
			}

			input::placeholder {
				color: #686868;
				font-weight: 300;
				letter-spacing: 1px;
				opacity: 1;
				transition: all 0.2s;
			}

			input:focus::placeholder {
				opacity: 0;
			}

			label {
				font-size: 14px;
				padding-left: 4px;
				opacity: 0;
				transition: all 0.2s;
				transform: translateY(7px);
			}

			label:has(+ input:focus) {
				opacity: 1;
				transform: translateY(-7px);
			}
		}

		.select_field {
			margin-top: 20px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 20px;

			select {
				padding: 4px 6px;
				font-size: 14px;
				letter-spacing: 1px;
				width: 100%;
			}

			select option:checked {
				background-color: black;
				color: white;
			}
		}
	}

	.total {
		ul {
			list-style: none;

			li {
				display: flex;
				width: 400px;
				justify-content: space-between;

				.item {
					display: flex;

					.details {
						display: flex;
						flex-direction: column;
						gap: 10px;
						padding-left: 10px;
					}
				}
			}
		}
	}

	.item_image {
		position: relative;
		width: 80px;
		aspect-ratio: 1;

		img {
			object-fit: cover;
		}
	}
}
