.list {
	width: 100%;
	list-style: none;
	align-items: center;
	margin-block: 0;
	padding-inline-start: 0;
	display: flex;
	flex-direction: column;
	gap: 15px;

	li {
		display: flex;
		width: 100%;
		justify-content: space-between;
		// border: 1px solid #4b4b4b;
		// background-color: #f1f1f1;

		.item {
			display: flex;

			.item_image {
				position: relative;
				width: 60px;
				aspect-ratio: 1;

				img {
					object-fit: cover;
				}
			}
		}

		span {
			padding: 0px 10px;
		}
	}
}
