.about_page {
	min-height: calc(100vh - 500px);
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 140px auto 60px;
}

.about_page__content {
	p {
		font-family: var(--font-lunasima);
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 24px;
		opacity: 0.9;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Мобильные стили
@media (max-width: 768px) {
	.about_page {
		min-height: calc(100vh - 500px);
		margin: 120px auto 40px;
		padding: 0 20px;
	}

	.about_page__content {
		p {
			font-size: 14px;
			line-height: 1.5;
		}
	}
}

@media (max-width: 480px) {
	.about_page {
		min-height: calc(100vh - 500px);
		margin: 100px auto 30px;
		padding: 0 15px;
	}

	.about_page__content {
		p {
			font-size: 13px;
		}
	}
}
