.contacts_page {
	margin: 0 auto;
	color: #4b4b4b;
	font-size: 13px;
	line-height: 1.6;

	&__title {
		color: black;
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 30px;
	}

	&__content {
		&_subtitle {
			margin-bottom: 30px;
		}

		a {
			text-decoration: underline;
			text-underline-offset: 3px;
			text-decoration-thickness: 1px;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}
