.delivery-page {
	margin: 0 auto;
	color: #4b4b4b;
	font-size: 13px;
	width: 100%;
	min-height: calc(100vh - 500px);

	.content {
		display: flex;
		justify-content: space-between;

		.section {
			width: 48%;
			display: flex;
			flex-direction: column;
			gap: 40px;

			.title {
				font-weight: 400;
				color: black;
				font-size: 15px;
			}

			.section-container {
				padding-left: 15px;

				.subtitle {
					display: inline-block;
					margin-bottom: 15px;
				}
			}

			ul {
				padding-left: 20px;

				li {
					margin-bottom: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.delivery-page {
		font-size: 18px;
		padding-block: 30px;
		.content {
			flex-direction: column;
			gap: 50px;

			.section {
				width: 100%;
				gap: 30px;

				.title {
					font-size: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.delivery-page {
		font-size: 16px;
		padding-block: 20px;

		.title {
			font-size: 18px;
		}
	}
}
