.product_card {
	display: block;
	text-decoration: none;
	color: #333;

	.image_wrapper {
		position: relative;
		width: 100%;
		aspect-ratio: 3 / 4;
		background: #f4f4f4;
		overflow: hidden;
	}

	.image {
		object-fit: cover;
	}

	.info {
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
		font-size: 12px;

		@media screen and (max-width: 480px) {
			margin-top: 10px;
			font-size: 10px;
		}
	}
}
