:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-lunasima);
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
 
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/main-page-background.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.main-content {
  margin-top: 190px;
}

@media (max-width: 1350px) {
  .container {
    padding: 0 70px;
  }
}