.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 5%;
	color: var(--foreground);
	background: transparent;
	z-index: 1000;

	@media screen and (max-width: 1024px) {
		padding: 30px 4%;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 100%;
	}

	&__left,
	&__right {
		display: flex;
		gap: 40px;
		flex: 1;

		@media screen and (max-width: 1024px) {
			gap: 20px;
		}
	}

	&__right {
		justify-content: flex-end;
	}

	&__center {
		flex-shrink: 0;
	}

	&__logo {
		font-family: var(--font-athelas-regular);
		font-size: 35px;
		letter-spacing: 2px;
		text-transform: lowercase;
	}

	&__link {
		font-family: var(--font-lunasima);
		font-size: 15px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}

	.cart_btn {
		font-family: Lunasima;
		font-size: 15px;
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;
		color: inherit;
		position: relative;
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.7;
		}

		@media screen and (max-width: 768px) {
			width: 45px;
			height: 45px;
		}

		@media screen and (max-width: 480px) {
			width: 30px;
			height: 30px;
		}
	}

	.cart_count {
		margin-left: 4px;

		@media screen and (max-width: 768px) {
			position: absolute;
			right: 50%;
			transform: translateX(50%);
			bottom: 10;
			font-size: 12px;
		}

		@media screen and (max-width: 480px) {
			font-size: 9px;
			bottom: 7;
		}
	}
}

.menu_btn {
	width: 45px;
	height: 45px;
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;

	@media screen and (max-width: 480px) {
		width: 30px;
		height: 30px;
	}
}
