.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 5%;
	color: var(--foreground);
	background: transparent;
	z-index: 1000;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 100%;
	}

	&__left,
	&__right {
		display: flex;
		gap: 40px;
		flex: 1;
	}

	&__right {
		justify-content: flex-end;
	}

	&__center {
		flex-shrink: 0;
	}

	&__logo {
		font-family: var(--font-athelas-regular);
		font-size: 35px;
		letter-spacing: 2px;
		text-transform: lowercase;
	}

	&__link {
		font-family: var(--font-lunasima);
		font-size: 15px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}
}
