.catalog_page {
	margin: 80px auto 0;
	margin-bottom: 140px;
}

.catalog_page__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 50px;
	row-gap: 140px;

	@media (max-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 32px;
	}

	@media (max-width: 900px) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 24px;
		row-gap: 48px;
	}

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
		column-gap: 0;
		row-gap: 32px;
	}
}
