.images {
	width: 60%;
	max-width: 550px;
	display: flex;
	gap: 10%;
	flex-direction: row;
	justify-content: right;

	@media screen and (max-width: 1024px) {
		gap: 4%;
	}
}

.main_image {
	position: relative;
	width: 74%;
	max-width: 370px;
	max-height: 560px;
	background: #f4f4f4;
	overflow: hidden;

	@media (max-width: 1024px) {
		width: 80%;
	}
}

.gallery {
	display: flex;
	width: 70px;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
}

.gallery_item {
	position: relative;
	width: 100%;
	aspect-ratio: 3/4;
	overflow: hidden;
	cursor: pointer;
	transition: opacity 0.2s;

	&:hover {
		opacity: 0.8;
	}

	@media (max-width: 1024px) {
		aspect-ratio: 4/5;
	}
}

.image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.active {
	border: 1px solid #4b4b4b;
}

.slider_container {
	position: relative;
	overflow: auto;
}

.slider {
	width: 100%;
	aspect-ratio: 7/6;
	display: flex;
	gap: 10px;
}

.slide {
	width: 65%;
	aspect-ratio: 3/4;
	position: relative;

	img {
		object-fit: cover;
	}
}
