.images {
	width: 60%;
	max-width: 550px;
	display: flex;
	gap: 10%;
	flex-direction: row;
	justify-content: right;

	@media screen and (max-width: 1024px) {
		width: 100%;
	}
}

.main-image {
	position: relative;
	width: 74%;
	max-width: 370px;
	max-height: 560px;
	aspect-ratio: 3/4;
	background: #f4f4f4;
	overflow: hidden;

	@media (max-width: 900px) {
		max-width: 100%;
	}
}

.gallery {
	display: flex;
	width: 70px;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
}

.gallery-item {
	position: relative;
	width: 100%;
	aspect-ratio: 3/4;
	overflow: hidden;
	cursor: pointer;
	transition: opacity 0.2s;

	&:hover {
		opacity: 0.8;
	}
}

.image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.active {
	border: 1px solid #4b4b4b;
}
