.product_page {
	width: 100%;
	padding-inline: 5vw;
	padding-bottom: 100px;
	color: black;

	@media screen and (max-width: 1200px) {
		padding-inline: 3.2vw;
	}

	@media screen and (max-width: 1024px) {
		padding-inline: 0;
	}

	.content {
		height: 100%;
		display: flex;

		justify-content: center;
		gap: 6%;

		@media (max-width: 1024px) {
			gap: 3%;
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	.info {
		width: 40%;
		padding-top: 35px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		@media screen and (max-width: 768px) {
			width: 100%;
			row-gap: 20px;
			padding-top: 20px;
		}
	}

	.info_container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.title {
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		color: var(--foreground);

		@media (max-width: 768px) {
			font-size: 20px;
		}

		@media (max-width: 480px) {
			font-size: 16px;
		}
	}

	.price_section {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.price {
		font-size: 15px;
		font-weight: 400;
		color: var(--foreground);

		@media (max-width: 768px) {
			font-size: 20px;
		}

		@media (max-width: 480px) {
			font-size: 16px;
		}
	}

	.button {
		max-width: 264px;
		padding: 15px 60px;
		background: var(--background);
		color: var(--foreground);
		border: 1px solid black;
		border-radius: 10px;
		font-size: 12px;
		font-weight: 400;
		cursor: pointer;
		transition: all 0.2s;
		margin-top: 10px;

		&:hover:not(:disabled) {
			background: #f9f9f9;
			border-color: rgba(0, 0, 0, 0.3);
		}

		&:disabled {
			background: #ccc;
			cursor: not-allowed;
		}

		@media (max-width: 768px) {
			padding: 14px 24px;
			font-size: 18px;
		}

		@media (max-width: 480px) {
			padding: 14px 24px;
			font-size: 16px;
		}
	}
}
